<tei2html.config>
    <text.abbr>d.w.z.; m.a.w.; b.v.; B.v.; d.i.; i.d.; n.l.; c.M.; z.g.; m.m.; m.M.; N.B.; Z.g.</text.abbr>

    <xref.show>always</xref.show>
    <xref.table>false</xref.table>

    <images.scale>1.0</images.scale>
    <images.maxSize>100</images.maxSize>
    <images.maxWidth>720</images.maxWidth>
    <images.maxHeight>720</images.maxHeight>
</tei2html.config>